/* styles for admin */
.inner-table{
	border:1px solid #ccc;
	width: 600px;
}
.inner-table td{
	padding: 10px;
	color: #000;
	border-bottom: 1px dotted #CCC;
}
.inner-table td span.required{
	display: inline;
	background: none;
}
.inner-table td span,.help{
	display:block;
	padding: 7px;
	font-style: italic;
	color: #999;
	font-weight: bold;
	background: #f7f7f7;
	font-size: 11px;
}
.inner-table tr:last-child td{
	border:none;
}
.help{
	display:block;
	padding: 7px;
	font-style: italic;
	color: #999;
	font-weight: bold;
	background: #f7f7f7;
	font-size: 11px;
}
table.form > tbody > tr > td:first-child {
width: 300px;
}
.content.iatai select option{
	padding: 10px;
}


.inner-table-test{
	border:1px solid #ccc;
    background-color: #F6F6F6;
	width: 600px;
}
.inner-table-test td{
	padding: 10px;
	color: #000;
	border-bottom: 1px dotted #CCC;
}
.inner-table-test td span.required{
	display: inline;
	background: none;
}
.inner-table-test td span,.help{
	display:block;
	padding: 7px;
	font-style: italic;
	color: #999;
	font-weight: bold;
	background: #f7f7f7;
	font-size: 11px;
}
.inner-table-test tr:last-child td{
	border:none;
}
